
@{
    Layout = "~/Views/Shared/_LayoutSurveyPage.cshtml"; 
}

<br />
<div class="alert alert-success">
    <strong>Survey Completed!</strong> 
    <p class="text-success">Thank you for participating the Survey. Our Team will Evaluate your valuable suggestions and take necessary step to fulfill your requirements.</p>.
</div>

